.body {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/*header*/

.logo-web {
  color: var(--iris, #4d5ae5);
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navyblue, #2e2f42);
  text-transform: uppercase;
}
