.body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background-color: #ffffff;
}

:root {
  --brand-color: #ffffff;
}

/*header*/
.header {
  background: var(--white, #fff);
  flex-shrink: 0;
}

.logo {
  color: var(--iris, #4d5ae5);
  text-transform: uppercase;
}

.accent {
  color: var(--navyblue, #2e2f42);
}

.navigation-list {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.email {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.phone {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/*main*/

.dark-bg {
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
}

.main-text {
  color: var(--white, #fff);
  text-align: center;

  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}

.main-button {
  background: var(--iris, #4d5ae5);
}

.main-strategy {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.main-strategy-text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.main-punctuality {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.main-punctuality-text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.main-diligence {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.main-diligence-text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.main-technologies {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.main-technologies-text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.main-page {
  background: #fff;
}

.main-page-text {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.Light-bg {
  background: var(--cloud, #f4f4fd);
  flex-shrink: 0;
}

.Light-bg-text {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.team-card {
  padding-bottom: 0px;
  justify-content: center;
}

.team-card-text1 {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.team-card-text2 {
  color: var(--slate, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/*footer*/

.footer-dark-bg {
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
}

.logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  justify-content: center;
}

.logo-studio {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  justify-content: center;
}

.footer-dark-bg-text {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/*main portfolio*/

.body-portfolio {
  color: #434455;
}

.project-card {
  padding-bottom: 0px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.project-card-text1 {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.project-card-text2 {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
